<div class="footer">
    <ul>
        <li>
        <a href="https://www.linkedin.com/in/mardoqueu-sousa/">Linkedin</a>
        </li>
        <li>
            <a href="https://github.com/Mardoqueu">GitHub</a>
        </li>
        <li>
          <a href="https://www.instagram.com/mardoqueu.sousa/">Instagram</a>
        </li>
        <li>
          <a href="https://mardoqueu.vercel.app/">Portfolio</a>
        </li>
        <li>
            <a href="https://www.quora.com/profile/Mardoqueu-Sousa">Quora</a>
        </li>
        <li>
            <a href="https://www.youtube.com/c/ProfMardoqueuSousa">Youtube</a>
        </li>
        <li>
            <a routerLink="/user-auth">Become a client</a>
        </li>
        <li>
            <a routerLink="/seller-auth">Become a Seller</a>
        </li>
      </ul>
      <p>© 2023 Powered by Angular and Mardoqueu Sousa</p>      
</div>