
<div class="cart-page">
    <h1>
        Cart Page
    </h1>
    <div class="row">
    <div class="col-sm-8 details">
        <ul>
            <li>
                <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-card-40-iphone14pro-202209?wid=340&hei=264&fmt=p-jpg&qlt=95&.v=1663611329492" alt="">
            </li>
            <li>
                <span> Product Name</span>
            </li>
            <li>
                <span> Price : 1000</span>
            </li>
            <li>
                <span> Quantity : </span>
            </li>
            <li >
               <button class="form-button">Remove To Cart</button>
            </li>
        </ul>
        
    </div>
    <div class="col-sm-4 summary">
    <h3>Summary</h3>
    <ul>
        <li> <span>Amount:</span><span>3000</span></li>
        <li> <span>Tax:</span><span>300</span></li>
        <li> <span>Delivery:</span><span>300</span></li>
        <li> <span>Discount:</span><span>300</span></li>
        <li> <span><h4>Total</h4></span> <span><h4>300</h4></span></li>
        <button  class="form-button max-width" >Checkout</button>
    </ul>
    </div>
    </div>
    </div>