table{
    text-align: left;
    color: red;
    border-collapse: collapse;
}

img {
    height: 100px;
    width: 100px;
}

table td, table th{
    border: 1px solid red;
    padding: 10px;
    min-width: 160pxs;
}